.demobox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  padding: 10px;
  color: #697b8c;
  font-size: 14px;
  background: #fafbfc;
}
.inner {
  padding: 10px;
  background-color: #fff;
  button {
    margin: 10px;
  }
}
