.demobox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  padding: 10px;
  color: #697b8c;
  font-size: 14px;
  background: #fafbfc;
}
.inner {
  min-height: 70px;
  padding: 10px;
  background-color: #fff;
}
.flex_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 340px;
}
.flex_switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
